<!DOCTYPE html>
<html>
<head>
  <title>Hisociety</title>
  <%= stylesheet_link_tag    "hisociety/application", :media => "all" %>
  <%= javascript_include_tag "hisociety/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
